.version.index /* version checker */
{
	color: #00000E;
	background-color: #282466;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1200px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u88
{
	z-index: 137;
	width: 768px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: #736357;
	position: relative;
}

#slideshowu213
{
	z-index: 2;
	width: 0.01px;
	height: 446px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 137px;
}

#u220popup
{
	z-index: 3;
}

#u240
{
	z-index: 4;
	width: 190px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u254
{
	z-index: 6;
	width: 190px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u222popup
{
	z-index: 8;
}

#u246-4
{
	z-index: 9;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u260-4
{
	z-index: 13;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u219-4popup
{
	z-index: 17;
}

#u216-4popup
{
	z-index: 21;
}

#u224-4popup
{
	z-index: 25;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u95
{
	z-index: 138;
	width: 768px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 40px;
}

#u128
{
	z-index: 153;
	width: 814px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
}

#u371-4
{
	z-index: 161;
	width: 135px;
	min-height: 66px;
	background-color: transparent;
	text-align: center;
	font-family: averia-serif-libre, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 346px;
}

#u101
{
	z-index: 140;
	width: 768px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: #736357;
	position: relative;
}

#pslideshowu213,#pslideshowu263
{
	width: 0.01px;
	margin-left: -40px;
}

#slideshowu263
{
	z-index: 29;
	width: 0.01px;
	height: 446px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 112px;
}

#u264
{
	position: absolute;
	width: 190px;
	height: 446px;
	background-color: transparent;
	left: 408px;
}

#u264popup
{
	z-index: 30;
}

#u265
{
	z-index: 31;
	width: 190px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u267
{
	z-index: 33;
	width: 190px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u280
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 298px;
}

#u280popup
{
	z-index: 35;
}

#u282-4
{
	z-index: 36;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u281-4
{
	z-index: 40;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u278-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 333px;
	left: 175px;
}

#u278-4popup
{
	z-index: 44;
}

#u283-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 333px;
	left: 144px;
}

#u283-4popup
{
	z-index: 48;
}

#u279-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 333px;
	left: 244px;
}

#u279-4popup
{
	z-index: 52;
}

#u102
{
	z-index: 141;
	width: 768px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 40px;
}

#u134
{
	z-index: 155;
	width: 814px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
}

#u373-4
{
	z-index: 165;
	width: 135px;
	min-height: 66px;
	background-color: transparent;
	text-align: center;
	font-family: averia-serif-libre, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 369px;
}

#u108
{
	z-index: 143;
	width: 768px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: #736357;
	position: relative;
}

#pslideshowu288
{
	width: 0.01px;
	margin-left: -39px;
}

#slideshowu288
{
	z-index: 56;
	width: 0.01px;
	height: 446px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 135px;
}

#u289popup
{
	z-index: 57;
}

#u290
{
	z-index: 58;
	width: 190px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u292
{
	z-index: 60;
	width: 190px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u305popup
{
	z-index: 62;
}

#u307-4
{
	z-index: 63;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u306-4
{
	z-index: 67;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u303-4popup
{
	z-index: 71;
}

#u308-4popup
{
	z-index: 75;
}

#u304-4popup
{
	z-index: 79;
}

#u109
{
	z-index: 144;
	width: 768px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 39px;
}

#u137
{
	z-index: 157;
	width: 814px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
}

#u374-4
{
	z-index: 169;
	width: 135px;
	min-height: 66px;
	background-color: transparent;
	text-align: center;
	font-family: averia-serif-libre, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 345px;
}

#u115
{
	z-index: 148;
	width: 768px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: #736357;
	position: relative;
}

#pslideshowu313
{
	width: 0.01px;
	margin-left: -40px;
	margin-top: -1px;
}

#slideshowu313
{
	z-index: 83;
	width: 0.01px;
	height: 446px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 85px;
}

#u314
{
	position: absolute;
	width: 190px;
	height: 446px;
	background-color: transparent;
	left: 436px;
}

#u314popup
{
	z-index: 84;
}

#u315
{
	z-index: 85;
	width: 190px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u317
{
	z-index: 87;
	width: 190px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u330
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 299px;
}

#u330popup
{
	z-index: 89;
}

#u332-4
{
	z-index: 90;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u331-4
{
	z-index: 94;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u328-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 305px;
	left: 104px;
}

#u328-4popup
{
	z-index: 98;
}

#u333-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 305px;
	left: 73px;
}

#u333-4popup
{
	z-index: 102;
}

#u329-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 305px;
	left: 173px;
}

#u329-4popup
{
	z-index: 106;
}

#u112
{
	z-index: 146;
	width: 768px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 40px;
}

#u140
{
	z-index: 159;
	width: 814px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
}

#u378-4
{
	z-index: 173;
	width: 135px;
	min-height: 66px;
	background-color: transparent;
	text-align: center;
	font-family: averia-serif-libre, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	left: 369px;
}

.js #u371-4.ose_pre_init,.js #u373-4.ose_pre_init,.js #u374-4.ose_pre_init,.js #u378-4.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u116
{
	z-index: 149;
	width: 768px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: #736357;
	position: relative;
}

#pslideshowu338
{
	width: 0.01px;
}

#slideshowu338
{
	z-index: 110;
	width: 0.01px;
	height: 446px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 96px;
}

#u220,#u289,#u339
{
	position: absolute;
	width: 190px;
	height: 446px;
	background-color: transparent;
}

#u339popup
{
	z-index: 111;
}

#u340
{
	z-index: 112;
	width: 190px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u240_img,#u265_img,#u290_img,#u315_img,#u340_img
{
	padding: 1px 2px;
}

#u342
{
	z-index: 114;
	width: 190px;
	height: 446px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u254_clip,#u267_clip,#u292_clip,#u317_clip,#u342_clip
{
	overflow: hidden;
	width: 190px;
	height: 446px;
}

#u254_img,#u267_img,#u292_img,#u317_img,#u342_img
{
	margin-left: -2px;
	margin-right: -1px;
	margin-bottom: 1px;
}

#u222,#u305,#u355
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 325px;
	left: 206px;
}

#u355popup
{
	z-index: 116;
}

#u357-4
{
	z-index: 117;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u356-4
{
	z-index: 121;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u219-4,#u303-4,#u353-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 381px;
}

#u353-4popup
{
	z-index: 125;
}

#u216-4,#u308-4,#u358-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 350px;
}

#u358-4popup
{
	z-index: 129;
}

#u224-4,#u304-4,#u354-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 450px;
}

#u354-4popup
{
	z-index: 133;
}

#u117
{
	z-index: 150;
	width: 768px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u379-4
{
	z-index: 177;
	width: 135px;
	min-height: 66px;
	background-color: transparent;
	text-align: center;
	font-family: averia-serif-libre, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 306px;
}

.js #u379-4.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u120
{
	z-index: 152;
	width: 768px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: #736357;
	position: relative;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

