.version.stue /* version checker */
{
	color: #0000FD;
	background-color: #2C07EC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 738px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u122
{
	z-index: 2;
	width: 1282px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: -100px;
}

#u122_img
{
	padding-bottom: 1px;
}

#pamphletu350
{
	z-index: 4;
	width: 0.01px;
	height: 44px;
	padding-bottom: 408px;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 359px;
}

#u351
{
	z-index: 5;
	width: 105px;
	position: relative;
	margin-right: -10000px;
	left: 838px;
}

#u449
{
	position: absolute;
	width: 27px;
	height: 42px;
	border-width: 1px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
}

#u460
{
	position: absolute;
	width: 27px;
	height: 42px;
	border-width: 1px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
	left: 38px;
}

#u471
{
	position: absolute;
	width: 27px;
	height: 42px;
	border-width: 1px;
	border-style: solid;
	border-color: #C7C7C7;
	background-color: #FFFFFF;
	left: 76px;
}

#u449.PamphletThumbSelected,#u460.PamphletThumbSelected,#u471.PamphletThumbSelected
{
	border-color: #0685CB;
	background-color: #4EB2F0;
	width: 27px;
	height: 42px;
	min-height: 0px;
	margin: 0px;
}

#u360
{
	position: absolute;
	width: 935px;
	background-color: transparent;
	top: 35px;
}

#u360popup
{
	z-index: 9;
}

#u450
{
	z-index: 10;
	width: 935px;
	height: 417px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u454
{
	z-index: 11;
	width: 822px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u461
{
	z-index: 13;
	width: 935px;
	height: 417px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u465
{
	z-index: 14;
	width: 824px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u472
{
	z-index: 16;
	width: 935px;
	height: 417px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u476
{
	z-index: 17;
	width: 826px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u482
{
	z-index: 19;
	width: 940px;
	height: 545px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 42px;
}

#U484_animation
{
	width: 940px;
	height: 545px;
	border: none;
}

#u487
{
	z-index: 20;
	width: 550px;
	height: 657px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 375px;
}

#U489_animation
{
	width: 550px;
	height: 657px;
	border: none;
}

#u492
{
	z-index: 21;
	width: 291px;
	height: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 368px;
	left: 838px;
}

#U494_animation
{
	width: 291px;
	height: 400px;
	border: none;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
	padding-bottom: 36px;
}

